*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  padding:20px;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:12px 25px;
  border-radius:10px;
  margin-bottom:30px;
}

.left{
  display:flex;
  align-items:center;
  gap:20px;
}

.logo img{
  width:230px;
  height:auto;
}

.blog{
  text-decoration:none;
  font-size:25px;
  color:#333;
}

.right{
  display:flex;
  align-items:center;
  gap:20px;
}

.right a{
  text-decoration:none;
  color:#444;
  font-size:20px;
}

.quote-btn{
  background:#123c3d;
  color:#fff;
  border:none;
  font-size:20px;
  width:200px;
  height:45px;
  border-radius:50px;
  
}

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:50px;
  border-radius:25px;
  background-image:url(bgimage.png);
  margin-bottom:40px;
}

.hero-content h1{
  font-size:45px;
  color:rgba(24,70,85,1);
  margin-bottom:25px;
}

.search-box{
  display:flex;
  margin-bottom:15px;
}

.search-box input{
  padding:12px;
  width:220px;
  border:none;
  border-radius:8px 0 0 8px;
}

.search-box button{
  padding:12px 20px;
  border:none;
  background:#123c3d;
  color:white;
  border-radius:0 8px 8px 0;
}

.hero-image img{
  width:475px;
  height:auto;
}

.article1{
  display:flex;
  gap:20px;
   background-image:url(bgimage.png);
  padding:20px;
  border-radius:40px;
  margin-bottom:40px;
}

.article1 img{
  width:50%;
  border-radius:15px;
}

.description{
  width:50%;
}

.description h2{
  font-size:32px;
}

.author{
  display:flex;
  justify-content:space-between;
  padding-top: 10px;
}

.para{
  padding-top: 10px;
  font-size:28px;
  line-height: 1.5;
}

.article2{
  display:flex;
  gap:20px;
  margin-bottom:40px;
}

.card{
  height: 469px;
  width:100%;
  background:rgba(249,247,247,0.4);
  border-radius:20px;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

.card img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:20px 20px 0 0;
}

.card h2{
  font-size:20px;
  padding:10px;
}

.meta{
  display:flex;
  justify-content:space-between;
  padding:10px;
}

.card p{
  padding:10px;
}

.footer-section{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:50px;
  border-radius:25px;
  background-image:url(bgimage.png);
  height: 707px;
}

.footer-content{
  max-width:45%;
}

.footer-image img{
  width:100%;
  max-width:700px;
}
.download-btn{
  background: linear-gradient(0deg,rgb(16, 176, 179) 0%, rgb(87, 183, 27) 100%);;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  color: #fff;
  padding: 10px;
  margin-top: 30px;
  box-shadow:0 5px 15px rgba(0,0,0,0.3);
}

@media (max-width:1024px){
  .hero,
  .footer-section{
    flex-direction:column;
    text-align:center;
  }

  .article1{
    flex-direction:column;
  }

  .article1 img,
  .description{
    width:100%;
  }

  .article2{
    flex-wrap:wrap;
  }

  .card{
    width:48%;
  }
}

@media (max-width:768px){
  .nav{
    flex-direction:column;
    gap:15px;
  }

  .right{
    flex-direction:column;
  }

  .hero-content h1{
    font-size:32px;
  }

  .search-box{
    flex-direction:column;
  }

  .search-box input,
  .search-box button{
    width:100%;
    border-radius:8px;
  }

  .article2{
    flex-direction:column;
  }

  .card{
    width:100%;
  }
}

@media (max-width:480px){
  .logo img{
    width:180px;
  }

  .blog{
    font-size:20px;
  }

  .quote-btn{
    width:180px;
    font-size:16px;
  }

  .hero-content h1{
    font-size:26px;
  }
}
